<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <% for(var i=0; i<list.length;i++){ %>
            <p><%= list[i] %></p>
        <% } %>
    </body>
</html>
